@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Cyan: #2acfcf;
  --Dark-Violet: #3b3054;
  --Dark-Violet-1: #3b30549d;
  --Red: #f46262;
  --Gray: #bfbfbf;
  --White: #fff;
  --Grayish-Violet: #9e9aa7;
  --Very-Dark-Blue: #35323e;
  --Very-Dark-Violet: #232127;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* border: 1px solid red; */
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 60px;
  z-index: 10;
  border-bottom: 5px solid #2321271a;
}

nav .left .logo,
footer .logo {
  color: var(--Dark-Violet);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
}

nav .left {
  display: flex;
  justify-content: center;
}

nav .left ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  align-items: center;
}

nav .left ul a {
  padding: 10px;
  margin: 5px;
  color: var(--Grayish-Violet);
}

nav .right button {
  border-radius: 99px;
  background: none;
  padding: 10px 15px;
  margin: 5px;
  color: var(--Grayish-Violet);
}

nav .right button:nth-child(2) {
  background-color: var(--Cyan);
  color: var(--White);
}
.sign-up-area,
.login-area {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 3;
  background-color: var(--Dark-Violet-1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(9px);
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

#close-btn-2,
#close-btn {
  all: unset;
  position: absolute;
  top: 50px;
  right: 50px;
  color: var(--White);
  font-size: 2rem;
  transform: scaleX(1.8);
}

.wrapper {
  width: 420px;
  background: linear-gradient(
    -45deg,
    var(--Cyan) 9%,
    var(--Dark-Violet) 68%,
    var(--Cyan) 97%
  );
  color: var(--White);
  border-radius: 12px;
  padding: 30px 40px;
}
.form-login {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--Grayish-Violet);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: var(--White);
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: var(--White);
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 150px;
  height: 45px;
  background: var(--Cyan);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px var(--Dark-Violet);
  cursor: pointer;
  font-size: 16px;
  color: var(--Dark-Violet);
  font-weight: 600;
  margin-top: 10px;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p button {
  all: unset;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}


/* END OF NAV */

main {
  margin-top: 100px;
  max-width: 1440px;
}

.hero {
  display: flex;
  padding: 60px;
  background-color: var(--White);
  height: 550px;
}

.hero .action-sec {
  width: 50%;
  padding-top: 50px;
}

.hero .action-sec h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  color: var(--Dark-Violet);
  font-weight: bold;
}

.hero .action-sec p {
  color: var(--Gray);
}

.action button,
.hero .action-sec button {
  background-color: var(--Cyan);
  color: var(--White);
  padding: 10px 25px;
  margin: 20px 0;
  border-radius: 99px;
}

.hero .icon-sec {
  text-align: center;
  width: 50%;
}

.hero .icon-sec img {
  width: 100%;
  height: auto;
}

.reports-area {
  background-color: var(--Gray);
  height: 800px;
  padding: 60px;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

form.short-it {
  background: linear-gradient(var(--Dark-Violet-1), var(--Dark-Violet-1)), url('./../images/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  margin: auto;
  border-radius: 9px;
  width: 900px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

form.short-it .form {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
}

form.short-it input {
  all: unset;
  font-size: 1rem;
  border-radius: 9px;
  padding: 10px 25px;
  background-color: var(--White);
  width: 70%;
  text-align: left;
  border: 2px solid var(--White);
}

form.short-it button {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 9px;
  padding: 10px 25px;
  background-color: var(--Cyan);
  color: var(--White);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.error {
  animation: shake 0.4s ease-in-out infinite;
}


#warning {
  color: var(--Red);
  position: absolute;
  bottom: -25px;
  left: 25px;
}

.drop-box {
  background-color: var(--White);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 9px;
  width: 900px;
  font-size: 1.5rem;
  transition: all 300ms ease;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
}

.drop-box--show {
  bottom: -130px;
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

#output-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#output-action p {
  color: var(--Cyan);
}

#output-action button {
  transition: all 300ms ease;
}

#output-action button:hover {
  background-color: var(--Dark-Violet);
  color: var(--White);
}

#output-action button:active {
  background-color: var(--Cyan);
  cursor: copy;
}

.statistics {
  max-width: 800px;
  margin: 60px auto;
  padding: 60px;
}

.statistics h3 {
  font-size: 2rem;
  color: var(--Dark-Violet);
}

.statistics p {
  font-size: 1rem;
  color: var(--Grayish-Violet);
}

.reports {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.v-line {
  background-color: var(--Cyan);
  width: 10px;
  height: 500px;
  transform: rotate(90deg);
  position: absolute;
  top: 270px;
  left: 50%;
}

.reports .box {
  border-radius: 9px;
  max-width: 600px;
  background-color: var(--White);
  padding: 20px;
  padding-top: 60px;
  text-align: left;
  width: 300px;
  position: relative;
}

.box:nth-child(1) {
  top: -30px;
}

.box:nth-child(3) {
  top: 30px;
}

.reports .box-img {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  background-color: var(--Dark-Violet);
  display: grid;
  place-items: center;
  align-items: center;
}

.reports .box-img img {
  width: 30px;
}


.action {
  background: linear-gradient(var(--Dark-Violet-1), var(--Dark-Violet-1)), url('./../images/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  color: var(--White);
}



footer {
  background-color: var(--Very-Dark-Violet);
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
}

footer .logo {
  color: var(--White);
}

footer ul {
  list-style: none;
}

footer li:nth-child(1) {
  color: var(--White);
  margin-bottom: 10px;
}

footer a {
  color: var(--White);
}

footer .social {
  display: flex;
  font-size: 28px;
}

footer li a {
  color: var(--Gray);
}

footer .social li a {
  color: var(--White);
  padding: 0 10px;
  margin: 0 5px;
}